<div class="col-lg-10">
  <div class="rounded-0 card shadow">
    <div class="card-body mt-5 mb-5"> 
      <p id="notice"><%= notice %></p>
      <h1> Project Details </h1>
      <p>
        <strong>Name:</strong>
        <%= @project.name %>
      </p>
      <p>
        <strong>Description:</strong>
        <%= @project.description %>
      </p>
      <%= link_to 'Back', projects_path, class: "btn btn-primary" %>
      <%= link_to 'Edit', edit_project_path(@project), class: "btn btn-secondary" %>
    </div>
  </div>
</div>
