<p><%=notice%></p>
<h1>Listing Blogs</h1>
<%= link_to 'New Blog', new_admin_blog_path %>
<table>
  <thead>
   <tr>
    <th><h3>Student's Blog  Email  &nbsp &nbsp </h3></th>
    <th><h3>Student's Blog Name &nbsp &nbsp</h3></th>
   
    <th colspan="3"><h3>Actions</h3></th>

   </tr>
  </thead>
  <tbody>
  	<%@blogs.each do |blog| %>
   <tr>
    <td><%= blog.title %></td>
    <td><%= blog.content %></td>
    <!-- <td><%#= link_to 'View', student%></td>
    <td><%#= link_to 'Edit', edit_student_path(student)%></td>
    <!-- <td><%#= link_to 'Delete', student_path(student), method: :delete %></td> -->
    <td><%#= button_to 'Delete', student_path(student), method: :delete, class: 'btn btn-danger', form: {data: { turbo_confirm: "Are you sure?" }}  %></td>
 -->

   </tr>
   <%end%>
  </tbody>
</table>

<%= paginate @blogs %>
