<div class="col-lg-10">
  <div class="rounded-0 card shadow">
    <div class="card-body mt-5 mb-5">
      <p id="notice"><%= notice %></p>
      <p>
        <strong>Name:</strong>
        <%= @course.name %>
      </p>
      <p>
        <strong>Description:</strong>
        <%= @course.description %>
      </p>
      <%= link_to 'Back', courses_path, class: "btn btn-primary" %>
      <%= link_to 'Edit', edit_course_path(@course), class: "btn btn-secondary" %>
    </div>
  </div>
</div>
